<main
  class="flex justify-center items-center w-dvw h-dvh font-urbanist text-white overflow-auto"
>
  <img src="/assets/login-bg.png" class="w-dvw h-dvh -z-10 absolute" alt="" />
  <form
    action=""
    [formGroup]="loginForm"
    (ngSubmit)="login()"
    class="flex flex-col items-center gap-8 w-3/4 sm:w-2/3 md:w-1/2 lg:w-1/3 lg:gap-20"
  >
    <img src="/assets/logo.png" width="264px" height="201px" alt="" />
    <h1 class="text-3xl font-bold text-center">Es bueno verte de nuevo,</h1>
    <section class="flex flex-col gap-10 w-3/4">
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2">
          <label for="user">Correo Electrónico</label>
          <ion-icon name="star"></ion-icon>
        </div>
        <app-form-input
          [control]="loginForm.controls.user"
          cssClass="login"
          formControlName="user"
          errorMessage="Usuario requerido"
        />
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2">
          <label for="password">Contraseña</label>
          <ion-icon name="star"></ion-icon>
        </div>
        <app-form-input
          [control]="loginForm.controls.password"
          cssClass="login"
          formControlName="password"
          errorMessage="Contraseña requerida"
          type="password"
        />
      </div>
      <button type="button" class="self-end" (click)="passwordRecovery()">
        ¿La olvidaste?
      </button>
    </section>
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="py-2 px-5 bg-mantis-400 text-white font-semibold rounded disabled:opacity-50"
    >
      Iniciar Sesión
    </button>
  </form>
</main>
