<main class="flex flex-col w-dvw h-dvh bg-mercury-200 font-urbanist">
  <section class="flex items-center justify-between text-3xl px-8 py-4">
    <app-sidebar-button type="tech"></app-sidebar-button>
    <app-home-button type="tech-home"></app-home-button>
  </section>

  <section class="px-7 flex flex-col gap-10 pb-32 overflow-auto">
    <div class="">
      <h1 class="text-2xl font-bold">Hola, {{ activeUser().name_user }},</h1>
      <h2 class="text-xl">Sigamos elevando clientes</h2>
    </div>

    <!--Elements-->
    <div class="flex flex-col gap-3">
      <app-dashboard-item-tech
        type="tech"
        title="Ayudaste a clientes..."
        [items]="GetActivities()"
        route="/technician/report"
      ></app-dashboard-item-tech>

      @if(GetPendingFaults().length > 0){

      <div
        (click)="OpenPendingFault()"
        class="w-full p-2 flex flex-col gap-3 bg-mantis-700 border border-mantis-400 border-3 rounded-xl text-white"
      >
        <div class="flex items-center justify-between">
          <h1 class="text-lg font-bold">
            Tienes {{ GetPendingFaults().length }} pendientes
          </h1>
        </div>
        <div class="flex justify-between items-center">
          <p class="text-xs">
            Revisa tu ruta para completar los mantenimientos que tienes
            asignados y las averías pendientes de resolución.
          </p>

          <ion-icon class="text-5xl" name="star"></ion-icon>
        </div>
      </div>
      }

      <app-dashboard-item-tech
        type="tech"
        title="Ahora mismo estás..."
        [items]="[GetActiveFault()]"
        route="/technician/report"
      ></app-dashboard-item-tech>
      <!-- <app-dashboard-item-tech
        type="client"
        title="Usualmente asistes a..."
        [items]="GetLastclients()"
      ></app-dashboard-item-tech> -->
    </div>
  </section>
</main>
