<main
  class="flex justify-center items-center w-dvw h-dvh font-urbanist text-black"
>
  <img
    src="/assets/password-recovery-bg.png"
    class="w-dvw h-dvh -z-10 absolute"
    alt=""
  />
  <form
    action=""
    [formGroup]="recoveryForm"
    (ngSubmit)="submitForm()"
    class="flex flex-col items-center bg-white border-4 border-golden-bell-600 rounded-3xl p-4 gap-20 w-full sm:w-2/3 md:w-1/2 lg:w-5/12"
  >
    <button
      type="button"
      routerLink="/login"
      class="text-xl font-bold text-grenadier-600 w-full text-right"
    >
      Regresar
    </button>
    <img src="/assets/logo.png" width="264px" height="201px" alt="" />
    <h1 class="text-3xl font-bold text-grenadier-600">
      Recupera tu contraseña
    </h1>
    <section class="flex flex-col gap-10 w-full md:w-1/2">
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2">
          <label for="user">Correo Electrónico</label>
          <ion-icon name="star"></ion-icon>
        </div>
        <app-form-input
          [control]="recoveryForm.controls.email"
          cssClass="admin"
          formControlName="email"
          errorMessage="Correo requerido"
        />
      </div>
    </section>
    <button
      type="submit"
      [disabled]="recoveryForm.invalid "
      class="py-2 px-5 bg-grenadier-600 text-white font-semibold rounded disabled:opacity-50"
    >
      Enviar
    </button>
  </form>
</main>
